.navbarsection {
    background-color: #ffffff;
    position: sticky;
    top: 0rem;
    right: 0rem;
    left: 0rem;
}

.navbarsection a {
    letter-spacing: 2px;
    font-family: var(--ffPrimary);
    font-size: 1.4rem;
    color: #414141;
    font-weight: 400;
}

.navbarsection a:hover {
    color: #4cddf3;
}

.navbarsection button {
    background-color: black;
    border-radius: 0;
}

.navbarsection i {
    color: #ffffff;
    font-size: 3rem;
}

.navbarsection {
    background-image: url(./assets/images/second_banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-position: fixed;
}

.heroBox {
    padding: 22rem 0rem 22rem 0rem;
}

.heroBox h1 {
    color: #ffffff;
}

.heroBox p {
    color: #ffffff;
    font-size: 8rem;
}

.line {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 0rem;
}

.line hr {
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2px;
    background-color: #4cddf3;
}

.herobutton {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
}

.aboutussection {
    padding: 8rem 0rem;
}

.aboutussection h6 {
    font-family: var(--ffSecondary);
    font-size: 1.5rem;
    color: #4cddf3;
    font-weight: 400;
    margin-bottom: 2rem;
}

.aboutussection h3 {
    font-family: var(--ffPrimary);
    font-size: 2.8rem;
    color: #414141;
    font-weight: 500;
    margin-bottom: 8rem;
}

.sliderimg {
    height: 40rem;
    width: auto;
}

.servicessection .serviceicon {
    background-color: #4cddf3;
    width: fit-content;
}

.servicessection .serviceicon i {
    font-size: 5rem;
}


.groupimg {
    height: 12rem;
    width: auto;
}



.cardcarouselbtnbox button {
    border: 0;
}
.cardcarouselbtnbox button i {
    font-size: 7rem;
    color: #888888;
}

.cardcarouselbtnbox button i:hover {
    color: #4cddf3;
}

.cardcarouselbtnbox .listbtn {
    font-size: 1.6rem;
    color: #ffffff;
    background-color: #4cddf3;
    padding: 1.5rem 2rem;
    letter-spacing: 1px;
}

.card {
    margin: 1rem;
    width: fit-content;
    background-color: transparent;
    border: 0;
}

.card img {
    height: 20rem;
    width: 23rem;
}

.card h5 {
    font-size: 2rem;
}




.industriessection .card:hover {
    background-color: #4cddf3;
}

.skillsection h6 {
    font-family: var(--ffSecondary);
    font-size: 1.5rem;
    color: #4cddf3;
    font-weight: 400;
    margin-bottom: 2rem;
}

.skillsection h3 {
    font-family: var(--ffPrimary);
    font-size: 2.8rem;
    color: #414141;
    font-weight: 500;
    margin-bottom: 8rem;
}

.progress-bar {
    display: flex;
    align-items: start;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 600;
    padding-left: 1rem;
}


.footersectrion p {
    font-family: var(--ffPrimary);
    font-size: 1.6rem;
    color: #888888;
    font-weight: 500;
}

.social {
    font-size: 2rem;
    border: 2px solid grey;
    height: 5rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footericon {
    padding: 1rem;
}

.footersectrion span {
    color: #414141;
    font-weight: 700;
}

.footersectrion button {
    color: #ffffff;
    font-weight: 600;
    background-color: #4cddf3;
}

.footersectrion iframe {
    width: 100%;
}